html, body {
    width: 100%;
    height: 100%;
    margin: 0;    
    background: #c0c0c0;
}

.body_hide {
	opacity: 0;
	transition: .9s opacity ease-in-out;
}
.body_visible {
	opacity: 1;
}

header {
    float: right;
    width: 88%;
    
    font-size: 200%;
    text-align: center;
    background: #00acee;
    
    height: 10%;
}

.text {
    float: left;
    font-size: 150%;
    padding-left: 1%;
}

.left_block {
    float: left;
    width: 12%;
    height: 100%;
    position: fixed;
    background: cadetblue;
    box-sizing: border-box;
    margin-top: 0;
    border-style: solid;
    line-height: 300%;
}

#auto:hover {
    color: darkorange;
}

#news:hover {
    color: darkorange;
}

#test_d:hover {
    color: darkorange;
}

.facebook:hover {
    background: url(facebook_hover.png);
}

.twitter:hover {
    background: url(twitter_hover.png);
}

.vk:hover {
    background: url(vk_hover.png);
}

.left_block li {
    list-style-type: none;
}

.left_block a {
    text-decoration: none;
    color: black;
    font-size: 150%; 
}

.new {
    box-sizing: border-box;
    /* border-style: solid; */
    margin-left: 12%;
    padding-top: 6%;
    background:#C0C0C0 ;
}

.new img {
    width: 30%;
}

.auto {
    box-sizing: border-box;
    /* border-style: solid; */
    margin-left: 12%;
    padding-top: 4%;
    background:#C0C0C0 ;
    text-align: center;
    scroll-margin: 100%;
    overflow-y: auto;

    
}

.legko {
    position: absolute;
    width: 88%;
    margin-top: -3% ;
}

.auto a {
    text-align: center;
    font-size: 200%;
}


table img {
    padding-right: 30%;
    transform: 1s;
}

tablim:hover {
    transform: scale (1.5) ;
} 

table p {
    font-size: 140%;
    text-align: center;
}

hr {
    border-style: solid;
}

.news {
    float: right;
    width: 88%;
    text-align: center;
}

.news a {
    font-size: 200%;
}

.news p {
    text-align: left;
    font-size: 150%;
}

.test_drive {
    float: right;
    width: 88%;
    text-align: center;
}

.drive {
    text-decoration: none;
    color: darkblue;
}

.drive:hover {
    color: red;
    background: darkblue;
}

.test {
    font-size: 200%;
}

.text_one {
    text-align: left;
    font-size: 150%;
}

.test_drive img {
    width: 80%;
}

footer {
    box-sizing: border-box;
    border-style: solid;
    text-align: center;
    width: 88%;
    float: right;
    font-size: 150%;
    background: seagreen;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: brown;
}